/*mojahed alkhamees
1937255*/

.image-preview img {
  border-top: 30px solid skyblue;
  border-right: 30px solid lightpink;
  border-bottom: 30px solid lightgreen;
  border-left: 30px solid #ffefd5;
  border-radius: 20px;
  padding: 60px;
  width: 150px;
}


